openapi: 3.1.0

info:
  title: logstream-server
  description: |
    Real-time log ingestion and streaming service built with PHP 8.3 + ReactPHP + Ratchet.

    ## Authentication

    The API uses two separate Bearer tokens:

    | Token | Header | Protects |
    |-------|--------|---------|
    | **Write key** (`API_SECRET`) | `Authorization: Bearer <API_SECRET>` | `POST /api/logs` |
    | **Read key** (`UI_SECRET`) | `Authorization: Bearer <UI_SECRET>` | `GET /api/logs`, `GET /api/logs/{id}` |

    The health endpoint is **public** — no token required.

    ## WebSocket

    Connect to `ws://host:8080?token=<UI_SECRET>` (or `wss://` behind Nginx).
    Every ingested log entry is broadcast in real-time to all connected clients.
  version: 1.0.0
  contact:
    name: guibranco
    url: https://github.com/guibranco/logstream-server
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://logs.straccini.com
    description: Production
  - url: http://localhost:8081
    description: Local development

# ── Security schemes ────────────────────────────────────────────────────────────
components:
  securitySchemes:

    WriteKey:
      type: http
      scheme: bearer
      description: >
        Write key (`API_SECRET`). Required on `POST /api/logs`.
        Used by your backend services to ingest log entries.

    ReadKey:
      type: http
      scheme: bearer
      description: >
        Read key (`UI_SECRET`). Required on `GET /api/logs` and `GET /api/logs/{id}`.
        Used by the dashboard UI and authorised humans.

  # ── Reusable schemas ──────────────────────────────────────────────────────────
  schemas:

    LogLevel:
      type: string
      enum: [debug, info, notice, warning, error, critical]
      example: error

    LogEntry:
      type: object
      required: [id, trace_id, app_key, app_id, level, category, message, timestamp, created_at]
      properties:
        id:
          type: string
          description: Time-sortable ULID generated by the server.
          example: 01HZ3XKPQ7V8WBNM0S4DECJRA
        trace_id:
          type: string
          format: uuid
          description: Client-supplied correlation ID. Auto-generated if omitted.
          example: 6ba7b810-9dad-11d1-80b4-00c04fd430c8
        batch_id:
          type: string
          format: uuid
          nullable: true
          description: Groups entries that belong to the same request or background job.
          example: 550e8400-e29b-41d4-a716-446655440000
        app_key:
          type: string
          maxLength: 100
          description: Application slug identifying the source system.
          example: billing-api
        app_id:
          type: string
          maxLength: 100
          description: Deployment environment or instance identifier.
          example: production
        user_agent:
          type: string
          maxLength: 255
          nullable: true
          description: >
            Free-form application name and version string, captured from the
            `User-Agent` request header or the `user_agent` body field.
          example: BillingService/2.1.0 (PHP 8.3; Linux)
        level:
          $ref: '#/components/schemas/LogLevel'
        category:
          type: string
          maxLength: 100
          description: Short grouping tag for the log entry.
          example: payments
        message:
          type: string
          description: Human-readable description of the event.
          example: Charge failed for invoice #1234
        context:
          type: object
          nullable: true
          additionalProperties: true
          description: Arbitrary structured metadata attached to the entry.
          example:
            invoice_id: 1234
            code: card_declined
            amount: 99.00
        timestamp:
          type: string
          format: date-time
          description: When the event occurred (ISO 8601, microsecond precision).
          example: "2025-01-15T14:22:00.000Z"
        created_at:
          type: string
          format: date-time
          description: When the server persisted the entry.
          example: "2025-01-15T14:22:00.012Z"

    IngestEntry:
      type: object
      description: A single log entry submitted for ingestion.
      properties:
        trace_id:
          type: string
          format: uuid
          description: Client-supplied trace ID. Auto-generated by server if omitted.
          example: 6ba7b810-9dad-11d1-80b4-00c04fd430c8
        batch_id:
          type: string
          format: uuid
          description: Overrides the top-level `batch_id` for this entry only.
          example: 550e8400-e29b-41d4-a716-446655440000
        app_key:
          type: string
          maxLength: 100
          description: Overrides the top-level `app_key` for this entry only.
          example: billing-api
        app_id:
          type: string
          maxLength: 100
          description: Overrides the top-level `app_id` for this entry only.
          example: production
        user_agent:
          type: string
          maxLength: 255
          description: Overrides the `User-Agent` header for this entry only.
          example: BillingService/2.1.0
        level:
          $ref: '#/components/schemas/LogLevel'
        category:
          type: string
          maxLength: 100
          description: Short grouping tag (default `general`).
          example: payments
        message:
          type: string
          description: Human-readable description of the event.
          example: Charge failed for invoice #1234
        context:
          type: object
          nullable: true
          additionalProperties: true
          description: Arbitrary structured metadata.
          example:
            invoice_id: 1234
            code: card_declined
        timestamp:
          type: string
          format: date-time
          description: When the event occurred. Defaults to server receive time.
          example: "2025-01-15T14:22:00.000Z"

    SingleIngestRequest:
      type: object
      required: [app_key, app_id, message]
      description: Ingest a single log entry.
      properties:
        app_key:
          type: string
          maxLength: 100
          example: billing-api
        app_id:
          type: string
          maxLength: 100
          example: production
        batch_id:
          type: string
          format: uuid
          nullable: true
          example: 550e8400-e29b-41d4-a716-446655440000
        user_agent:
          type: string
          maxLength: 255
          example: BillingService/2.1.0
        level:
          $ref: '#/components/schemas/LogLevel'
        category:
          type: string
          maxLength: 100
          example: payments
        message:
          type: string
          example: Charge failed for invoice #1234
        context:
          type: object
          nullable: true
          additionalProperties: true
          example:
            invoice_id: 1234
            code: card_declined
        timestamp:
          type: string
          format: date-time
          example: "2025-01-15T14:22:00.000Z"

    BatchIngestRequest:
      type: object
      required: [app_key, app_id, logs]
      description: >
        Ingest multiple log entries in one request.
        `app_key`, `app_id`, and `batch_id` set at the top level are
        inherited by every entry in the `logs` array unless overridden
        per-entry.
      properties:
        app_key:
          type: string
          maxLength: 100
          example: billing-api
        app_id:
          type: string
          maxLength: 100
          example: production
        batch_id:
          type: string
          format: uuid
          nullable: true
          example: 550e8400-e29b-41d4-a716-446655440000
        logs:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/IngestEntry'

    IngestResponse:
      type: object
      required: [saved, entries]
      properties:
        saved:
          type: integer
          description: Number of entries successfully persisted.
          example: 3
        entries:
          type: array
          items:
            $ref: '#/components/schemas/LogEntry'
        errors:
          type: array
          nullable: true
          items:
            type: string
          description: Per-entry error messages for any entries that failed to save.
          example: null

    SearchResponse:
      type: object
      required: [total, limit, offset, entries]
      properties:
        total:
          type: integer
          description: Total number of entries matching the filters.
          example: 142
        limit:
          type: integer
          description: The `limit` value that was applied.
          example: 100
        offset:
          type: integer
          description: The `offset` value that was applied.
          example: 0
        entries:
          type: array
          items:
            $ref: '#/components/schemas/LogEntry'

    HealthResponse:
      type: object
      required: [status, time, ws_connections]
      properties:
        status:
          type: string
          enum: [ok]
          example: ok
        time:
          type: string
          format: date-time
          description: Current server time.
          example: "2025-01-15T14:22:00+00:00"
        ws_connections:
          type: integer
          description: Number of currently connected WebSocket clients.
          example: 2

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
          example: Unauthorized

  # ── Reusable parameters ───────────────────────────────────────────────────────
  parameters:

    AppKey:
      name: app_key
      in: query
      schema:
        type: string
        maxLength: 100
      description: Filter by application slug (exact match).
      example: billing-api

    AppId:
      name: app_id
      in: query
      schema:
        type: string
        maxLength: 100
      description: Filter by deployment environment or instance (exact match).
      example: production

    UserAgent:
      name: user_agent
      in: query
      schema:
        type: string
      description: Filter by user agent string (partial match).
      example: BillingService

    Level:
      name: level
      in: query
      schema:
        $ref: '#/components/schemas/LogLevel'
      description: Filter by severity level (exact match).

    Category:
      name: category
      in: query
      schema:
        type: string
        maxLength: 100
      description: Filter by category (partial match).
      example: payments

    TraceId:
      name: trace_id
      in: query
      schema:
        type: string
        format: uuid
      description: Filter by trace ID (exact match).
      example: 6ba7b810-9dad-11d1-80b4-00c04fd430c8

    BatchId:
      name: batch_id
      in: query
      schema:
        type: string
        format: uuid
      description: Filter by batch ID (exact match).
      example: 550e8400-e29b-41d4-a716-446655440000

    DateFrom:
      name: date_from
      in: query
      schema:
        type: string
        format: date-time
      description: Return entries at or after this timestamp (ISO 8601, inclusive).
      example: "2025-01-01T00:00:00Z"

    DateTo:
      name: date_to
      in: query
      schema:
        type: string
        format: date-time
      description: Return entries at or before this timestamp (ISO 8601, inclusive).
      example: "2025-01-31T23:59:59Z"

    Search:
      name: search
      in: query
      schema:
        type: string
      description: Substring match against the `message` field.
      example: "card declined"

    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 100
      description: Maximum number of entries to return.

    Offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Number of entries to skip (for pagination).

  # ── Reusable responses ────────────────────────────────────────────────────────
  responses:

    Unauthorized:
      description: Missing, invalid, or wrong-role Bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: Unauthorized

    NotFound:
      description: No entry found for the supplied ID or trace_id.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: Not found

    BadRequest:
      description: The request body is invalid or missing required fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: app_key and app_id are required

# ── Paths ──────────────────────────────────────────────────────────────────────
paths:

  /api/health:
    get:
      operationId: getHealth
      summary: Health check
      description: >
        Returns the current server status and the number of active WebSocket
        connections. This endpoint is **public** — no authentication required.
      tags: [System]
      responses:
        "200":
          description: Server is healthy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: ok
                time: "2025-01-15T14:22:00+00:00"
                ws_connections: 2

  /api/logs:
    post:
      operationId: ingestLogs
      summary: Ingest log entries
      description: |
        Ingest one or more log entries. Supports two payload shapes:

        **Single entry** — include all fields at the top level.

        **Batch** — set `app_key`, `app_id`, and optionally `batch_id` at the
        top level and list entries under the `logs` array key. Top-level fields
        are inherited by every entry unless overridden per-entry.

        The `User-Agent` header is captured automatically as the `user_agent`
        field of every entry in the request.
      tags: [Logs]
      security:
        - WriteKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/SingleIngestRequest'
                - $ref: '#/components/schemas/BatchIngestRequest'
            examples:
              single:
                summary: Single entry
                value:
                  app_key: billing-api
                  app_id: production
                  level: error
                  category: payments
                  message: Charge failed for invoice #1234
                  context:
                    invoice_id: 1234
                    code: card_declined
                  timestamp: "2025-01-15T14:22:00.000Z"
              batch:
                summary: Batch of entries
                value:
                  app_key: billing-api
                  app_id: production
                  batch_id: 550e8400-e29b-41d4-a716-446655440000
                  logs:
                    - level: info
                      category: payments
                      message: Charge initiated
                      context:
                        invoice_id: 1234
                        amount: 99.00
                    - level: error
                      category: payments
                      message: Charge declined
                      context:
                        invoice_id: 1234
                        code: card_declined
                    - level: warning
                      category: payments
                      message: Retry scheduled
      responses:
        "201":
          description: One or more entries were saved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestResponse'
              example:
                saved: 1
                entries:
                  - id: 01HZ3XKPQ7V8WBNM0S4DECJRA
                    trace_id: 6ba7b810-9dad-11d1-80b4-00c04fd430c8
                    batch_id: null
                    app_key: billing-api
                    app_id: production
                    user_agent: BillingService/2.1.0 (PHP 8.3)
                    level: error
                    category: payments
                    message: Charge failed for invoice #1234
                    context:
                      invoice_id: 1234
                      code: card_declined
                    timestamp: "2025-01-15T14:22:00.000Z"
                    created_at: "2025-01-15T14:22:00.012Z"
                errors: null
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'

    get:
      operationId: searchLogs
      summary: Search log entries
      description: |
        Search and paginate log entries. All filter parameters are optional
        and can be combined freely. Results are returned newest-first.
      tags: [Logs]
      security:
        - ReadKey: []
      parameters:
        - $ref: '#/components/parameters/AppKey'
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/Level'
        - $ref: '#/components/parameters/Category'
        - $ref: '#/components/parameters/TraceId'
        - $ref: '#/components/parameters/BatchId'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        "200":
          description: Search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
              example:
                total: 1
                limit: 100
                offset: 0
                entries:
                  - id: 01HZ3XKPQ7V8WBNM0S4DECJRA
                    trace_id: 6ba7b810-9dad-11d1-80b4-00c04fd430c8
                    batch_id: null
                    app_key: billing-api
                    app_id: production
                    user_agent: BillingService/2.1.0
                    level: error
                    category: payments
                    message: Charge failed for invoice #1234
                    context:
                      invoice_id: 1234
                      code: card_declined
                    timestamp: "2025-01-15T14:22:00.000Z"
                    created_at: "2025-01-15T14:22:00.012Z"
        "401":
          $ref: '#/components/responses/Unauthorized'

  /api/logs/{id}:
    get:
      operationId: getLogById
      summary: Get a single log entry
      description: >
        Fetch a single log entry by its internal ULID (`id`) or its
        `trace_id` UUID. Both formats are accepted in the path parameter.
      tags: [Logs]
      security:
        - ReadKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Internal ULID or `trace_id` UUID of the entry.
          example: 01HZ3XKPQ7V8WBNM0S4DECJRA
      responses:
        "200":
          description: The requested log entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogEntry'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

# ── Tag descriptions ───────────────────────────────────────────────────────────
tags:
  - name: Logs
    description: Log ingestion and search.
  - name: System
    description: Health and diagnostics.
